<div class="form-froup row">

    <label class="col-sm-2 col-form-label" > Product Name</label>
    <div class="col-sm-10">
    
        <input type="text" class="form-control"  [(ngModel)]="p_Name"  placeholder="Enter Name">
    
    </div>
    
    <label class="col-sm-2 col-form-label" >  Product Price  </label>
    <div class="col-sm-10">
    
        <input type="number" class="form-control"  [(ngModel)]="P_Price"  placeholder="Enter Name">
    
    </div>
    </div>
    <button (click)="addProduct()" *ngIf="prod.P_Id==0" class="btn btn-primary"  > Add    </button>
    
    <button (click)="UpdateProduct()" *ngIf="prod.P_Id!=0" class="btn btn-primary"  > Update    </button>
    